*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
body{
    font-size: 12px;
    line-height: 1.2;
    background-color: #fff;
    position: relative;
}
main{
    height: calc(100vh - 50px);
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
footer {
    position: absolute;
    bottom:0; 
    height: 50px;
    width: 100%;
    display: flex;
    border-top: 1px solid #ccc;
    color: #383737;
}
footer>div{
    flex:1;
    text-align: center;
    padding: 10px;
}
footer>div>span{
    display: block;
}
footer .active{
    color: #ff5722;
}
main>section{
    display: none;
}
main>section:first-child{
    display: block;
}
.item{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    padding-top: 10px;
}
.item>a{
    display: block;
    display: flex;
    text-decoration: none;
}
.item .cover,
.item .cover img{
    width: 70px;
}
.item .detail{
    flex: 1;
    padding-left: 10px;
}
.item .detail h2{
    font-size: 16px;
    color: black;
}
.item .detail .extra{
    color: #999;
    margin-top: 4px;
}
.item .detail .score{
    color:#ff5722;
}
.loading{
    text-align: center;
    padding: 5px;
    display: none;
}
.loading .fa{
    display: inline-block;
    animation: 1s rotate linear infinite;
}
@keyframes rotate {
    0%{transform: rotate(0deg)}
    100%{transform: rotate(360deg)}
}
.search-area{
    border-bottom: 1px solid #ccc;
    font-size: 12px;
}
.search-area input{
    font-size: 12px;
    padding: 5px;
    width:80%;
    border: none;
    background-color: rgb(214, 211, 211);
    border-radius: 3px;
    margin: 5px;
}
.search-area .button{
    text-align: center;
    padding: 5px;
    width: 12%;
    display: inline-block;
    background-color: #ff5722;
    margin: 5px;
    border-radius: 3px;
    color: #fff;
}